@import url("https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&family=Roboto+Slab:wght@100..900&display=swap");

:root {
  --oxford-blue: #0b132bff;
  --space-cadet: #1c2541ff;
  --yinmn-blue: #3a506bff;
  --verdigris: #5bc0beff;
  --fluorescent-cyan: #6fffe9ff;

  font-family: "Geist Mono";
}

body {
  background-color: var(--oxford-blue);
  color: var(--verdigris);

  header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 2px;
    cursor: default;
    margin: 5vh 0 5vh 0;
  }
  main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5vh;
    .inputContainer {
      span {
        cursor: default;
      }
      input {
        background-color: var(--space-cadet);
        color: var(--verdigris);
        border: 1.3px solid var(--yinmn-blue);
        text-align: center;
        width: 3vw;
        padding: 0.6em;
        font-size: 1em;

        font-weight: bold;

        transition: all 0.3s ease;
      }
      input:hover {
        background-color: var(--verdigris);
        color: var(--oxford-blue);
      }
      input::-webkit-outer-spin-button,
      input::-webkit-inner-spin-button {
        display: none;
      }
      input:focus {
        outline: none;
      }
      button {
        background-color: var(--space-cadet);
        color: var(--verdigris);
        margin-left: 5vw;
        padding: 0.5em;
        border: 1.3px solid var(--verdigris);
        letter-spacing: 2px;
        border-radius: 0.5em;
        cursor: pointer;
        transition: all 0.3s ease;
      }
      button:hover {
        background-color: var(--verdigris);
        color: var(--space-cadet);
      }
      .feedback {
        font-size: 0.8vw;
        color: var(--fluorescent-cyan);
        background-color: var(--yinmn-blue);
        margin-left: 2vw;
        padding: 0.7em;
        border: 0.6em;
        opacity: 0.7;
        font-weight: bold;
        letter-spacing: 1px;
        position: absolute;
        transition: all 0.3 ease;
      }
    }
    .text {
      width: 60vw;
      padding: 0 5vw 5vw 5vw;

      font-size: 0.8em;
      text-align: justify;
      text-indent: 15px;
      overflow: scroll;
      height: 50vh;
    }
    .text::-webkit-scrollbar {
      background-color: var(--oxford-blue);
      width: 1vw;
      height: 100%;
    }
    .text::-webkit-scrollbar-thumb {
      background-color: var(--verdigris);
    }
  }
}
